# Regression Exercise 

California Housing Data

This data set contains information about all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area. 

The task is **to aproximate the median house value **of each block from the values of the rest of the variables. 

 It has been obtained from the LIACC repository. The original page where the data set can be found is: http://www.liaad.up.pt/~ltorgo/Regression/DataSets.html.

The Features:
 
* housingMedianAge: continuous. 
* totalRooms: continuous. 
* totalBedrooms: continuous. 
* population: continuous. 
* households: continuous. 
* medianIncome: continuous. 
* medianHouseValue: continuous.

## The Data

** Import the cal_housing_clean.csv file with pandas. Separate it into a training (70%) and testing set(30%).**

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('California Housing Data.csv', sep = ',')

In [3]:
data.head()

,Unnamed: 0,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude,medianHouseValue
0,0,41.0,6.984127,1.023810,322.0,2.555556,8.3252,37.88,-122.23,4.526
1,1,21.0,6.238137,0.971880,2401.0,2.109842,8.3014,37.86,-122.22,3.585
2,2,52.0,8.288136,1.073446,496.0,2.802260,7.2574,37.85,-122.24,3.521
3,3,52.0,5.817352,1.073059,558.0,2.547945,5.6431,37.85,-122.25,3.413
4,4,52.0,6.281853,1.081081,565.0,2.181467,3.8462,37.85,-122.25,3.422

In [4]:
data.shape

(20640, 10)

In [5]:
data.columns

Index(['Unnamed: 0', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population',
       'AveOccup', 'MedInc', 'Latitude', 'Longitude', 'medianHouseValue'],
      dtype='object')

In [41]:
'''import matplotlib.pyplot as plt 

data.hist(figsize=(20,15), color = 'green')
plt.show()'''

"import matplotlib.pyplot as plt \n\ndata.hist(figsize=(20,15), color = 'green')\nplt.show()"

In [7]:
target_column = 'medianHouseValue'

In [8]:
cols = ['HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'MedInc', 'Latitude', 'Longitude', 'medianHouseValue']

In [9]:
data = data[cols]
data.head()

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude,medianHouseValue
0,41.0,6.984127,1.023810,322.0,2.555556,8.3252,37.88,-122.23,4.526
1,21.0,6.238137,0.971880,2401.0,2.109842,8.3014,37.86,-122.22,3.585
2,52.0,8.288136,1.073446,496.0,2.802260,7.2574,37.85,-122.24,3.521
3,52.0,5.817352,1.073059,558.0,2.547945,5.6431,37.85,-122.25,3.413
4,52.0,6.281853,1.081081,565.0,2.181467,3.8462,37.85,-122.25,3.422

In [10]:
y_data = data[target_column]
cols.remove(target_column)
X_data = data[cols]

In [11]:
print(X_data.shape)
X_data.head()

(20640, 8)

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
0,41.0,6.984127,1.023810,322.0,2.555556,8.3252,37.88,-122.23
1,21.0,6.238137,0.971880,2401.0,2.109842,8.3014,37.86,-122.22
2,52.0,8.288136,1.073446,496.0,2.802260,7.2574,37.85,-122.24
3,52.0,5.817352,1.073059,558.0,2.547945,5.6431,37.85,-122.25
4,52.0,6.281853,1.081081,565.0,2.181467,3.8462,37.85,-122.25

In [12]:
print(y_data.shape)
y_data.head()

(20640,)

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: medianHouseValue, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.3, random_state=101)
y_train = pd.DataFrame(np.array(y_train))
y_test = pd.DataFrame(np.array(y_test))

In [14]:
print(X_train.shape)
X_train.head()

(14448, 8)

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
6761,19.0,3.900427,1.075391,1396.0,1.985775,2.5663,34.10,-118.13
3010,32.0,5.103448,1.172414,242.0,2.781609,1.1528,35.27,-118.99
7812,35.0,5.372973,1.097297,602.0,3.254054,3.5865,33.89,-118.10
8480,35.0,6.961957,1.190217,710.0,3.858696,4.8304,33.92,-118.32
1051,16.0,5.901408,1.084507,559.0,2.624413,4.4531,38.34,-120.71

In [15]:
print(y_train.shape)
y_train.head()

(14448, 1)

       0
0  1.975
1  1.500
2  1.780
3  1.528
4  1.443

In [16]:
print(X_test.shape)
X_test.head()

(6192, 8)

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
16086,36.0,6.110738,0.979866,742.0,2.489933,5.6204,37.73,-122.49
8816,37.0,7.605634,0.950704,366.0,2.577465,11.6677,33.75,-118.32
7175,47.0,4.896154,1.015385,1193.0,4.588462,2.4375,34.05,-118.19
16714,17.0,5.805461,1.017065,941.0,3.211604,4.3218,35.51,-120.68
14491,22.0,7.906818,1.018182,1252.0,2.845455,10.0707,32.85,-117.24

In [17]:
print(y_test.shape)
y_test.head()

(6192, 1)

         0
0  4.06200
1  5.00001
2  1.22900
3  2.09100
4  5.00001

### Scale the Feature Data

1. Use sklearn preprocessing to create a MinMaxScaler for the feature data.
2. Fit this scaler only to the training data. 
3. Then use it to transform X_test and X_train. 
4. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.

In [18]:
import sklearn

In [19]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [20]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [21]:
scaled_X_train = scaler.transform(X_train)
scaled_X_test = scaler.transform(X_test)

In [22]:
X_train = pd.DataFrame(scaled_X_train, columns=cols)
print(X_train.shape)
X_train.head()

(14448, 8)

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
0,0.352941,0.022876,0.021998,0.048769,0.005637,0.142508,0.164894,0.628950
1,0.607843,0.032015,0.024874,0.008367,0.009104,0.045027,0.289362,0.541284
2,0.666667,0.034062,0.022647,0.020971,0.011163,0.212866,0.142553,0.632008
3,0.666667,0.046132,0.025402,0.024752,0.013798,0.298651,0.145745,0.609582
4,0.294118,0.038076,0.022268,0.019466,0.008419,0.272631,0.615957,0.365953

In [23]:
X_test = pd.DataFrame(scaled_X_test, columns=cols)
print(X_test.shape)
X_test.head()

(6192, 8)

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
0,0.686275,0.039666,0.019166,0.025873,0.007833,0.353133,0.551064,0.184506
1,0.705882,0.051022,0.018302,0.012709,0.008215,0.770182,0.127660,0.609582
2,0.901961,0.030440,0.020219,0.041662,0.016978,0.133626,0.159574,0.622834
3,0.313725,0.037347,0.020269,0.032840,0.010978,0.263576,0.314894,0.369011
4,0.411765,0.053310,0.020302,0.043728,0.009383,0.660046,0.031915,0.719674

### Create Feature Columns

** Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns. **

In [24]:
import tensorflow as tf

/home/tanya/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [25]:
feat_cols = [tf.feature_column.numeric_column(key = key) for key in X_train.columns]
feat_cols

[_NumericColumn(key='HouseAge', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='AveRooms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='AveBedrms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Population', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='AveOccup', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='MedInc', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Latitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Longitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

** Create the input function for the estimator object. (play around with batch_size and num_epochs)**

In [26]:
input_func = tf.estimator.inputs.pandas_input_fn(x = X_train, y = y_train, batch_size = 1000, num_epochs = 50, shuffle = False)
#input_func = tf.estimator.inputs.numpy_input_fn(x = X_train, y = y_train, batch_size = 500, num_epochs = 8, shuffle = False)

In [27]:
input_func

** Create the estimator model. Use a DNNRegressor. Play around with the hidden units! **

**hidden_units**: List of hidden units per layer. All layers are fully connected. Ex. [64, 32] means first layer has 64 nodes and second one has 32.

In [28]:
type(feat_cols)

list

In [29]:
estimator = tf.estimator.DNNRegressor(feature_columns = feat_cols, hidden_units=[10, 1000, 40, 70])

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpx82u7ema
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpx82u7ema', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f21d2ff7da0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

##### ** Train the model for ~1,000 steps. (Later come back to this and train it for more and check for improvement) **

In [30]:
estimator.train(input_fn = input_func, steps=1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpx82u7ema/model.ckpt.
INFO:tensorflow:loss = 5337.3584, step = 1
INFO:tensorflow:global_step/sec: 12.9715
INFO:tensorflow:loss = 542.3968, step = 101 (7.712 sec)
INFO:tensorflow:global_step/sec: 14.1635
INFO:tensorflow:loss = 568.6795, step = 201 (7.060 sec)
INFO:tensorflow:global_step/sec: 13.9694
INFO:tensorflow:loss = 596.9945, step = 301 (7.159 sec)
INFO:tensorflow:global_step/sec: 14.0975
INFO:tensorflow:loss = 508.72394, step = 401 (7.092 sec)
INFO:tensorflow:global_step/sec: 14.7116
INFO:tensorflow:loss = 475.22653, step = 501 (6.799 sec)
INFO:tensorflow:global_step/sec: 13.9414
INFO:tensorflow:loss = 403.61578, step = 601 (7.172 sec)
INFO:tensorflow:global_step/sec: 11.7504
INFO:tensorflow:loss = 424.27972, step = 701 (8.512 sec)
INFO:tensorflow:Saving checkpoints for 723 into /tmp/tmpx82u7ema/model.ckpt.
INFO:tensorflow:Loss for final step: 143.57971.

** Create a prediction input function and then use the .predict method off your estimator model to create a list or predictions on your test data. **

In [31]:
input_func2 = tf.estimator.inputs.pandas_input_fn(x = X_test, batch_size = 1000, num_epochs = 1, shuffle = False)

In [32]:
y_predict = list(estimator.predict(input_fn = input_func2))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpx82u7ema/model.ckpt-723
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Calculate the RMSE. You should be able to get around 100,000 RMSE (remember that this is in the same units as the label.) Do this manually or use [sklearn.metrics](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html) **

In [33]:
y_predict_list = [y_predict[i]['predictions'] for i in range(len(y_predict))]

In [37]:
len(y_predict_list)

6192

In [39]:
from sklearn.metrics import mean_squared_error
import math

math.sqrt(mean_squared_error(y_test, y_predict_list))

0.6817333970409128

# Great Job!