# Regression Exercise 

California Housing Data

This data set contains information about all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area. 

The task is to aproximate the median house value of each block from the values of the rest of the variables. 

 It has been obtained from the LIACC repository. The original page where the data set can be found is: http://www.liaad.up.pt/~ltorgo/Regression/DataSets.html.

The Features:
 
* housingMedianAge: continuous. 
* totalRooms: continuous. 
* totalBedrooms: continuous. 
* population: continuous. 
* households: continuous. 
* medianIncome: continuous. 
* medianHouseValue: continuous.

## The Data

** Import the cal_housing_clean.csv file with pandas. Separate it into a training (70%) and testing set(30%).**

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cal_housing_clean.csv')

In [3]:
data.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [4]:
data.describe()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,28.639486,2635.763081,537.898014,1425.476744,499.539680,3.870671,206855.816909
std,12.585558,2181.615252,421.247906,1132.462122,382.329753,1.899822,115395.615874
min,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,18.000000,1447.750000,295.000000,787.000000,280.000000,2.563400,119600.000000
50%,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
data.columns

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [7]:
y = data['medianHouseValue']

In [8]:
X_data = data.drop(['medianHouseValue'], axis=1)

In [9]:
X_data.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
0,41.0,880.0,129.0,322.0,126.0,8.3252
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,52.0,1467.0,190.0,496.0,177.0,7.2574
3,52.0,1274.0,235.0,558.0,219.0,5.6431
4,52.0,1627.0,280.0,565.0,259.0,3.8462

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X_data, y, test_size = 0.3)

### Scale the Feature Data

** Use sklearn preprocessing to create a MinMaxScaler for the feature data. Fit this scaler only to the training data. Then use it to transform X_test and X_train. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.**

In [11]:
from sklearn.preprocessing import MinMaxScaler

In [12]:
scaler = MinMaxScaler()

In [13]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [14]:
X_train = pd.DataFrame(data=scaler.transform(X_train), columns=X_train.columns, index=X_train.index)

In [15]:
X_train.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
9786,0.294118,0.078208,0.097300,0.041369,0.087979,0.198101
16840,0.411765,0.171067,0.214308,0.105945,0.215261,0.313651
9814,0.647059,0.059744,0.068125,0.029709,0.070219,0.222418
11030,0.647059,0.065822,0.093420,0.046386,0.099819,0.129522
18252,0.686275,0.047256,0.056797,0.022170,0.060023,0.316354

In [16]:
X_test = pd.DataFrame(data=scaler.transform(X_test), columns=X_test.columns, index=X_test.index)

In [17]:
X_test.head()

,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
12445,0.392157,0.029478,0.043606,0.020208,0.030423,0.185018
1691,0.294118,0.052953,0.048727,0.032260,0.050321,0.380015
10648,0.549020,0.036090,0.071539,0.014490,0.055583,0.123929
14440,0.549020,0.085813,0.136716,0.042322,0.138464,0.179384
1838,0.568627,0.045018,0.072936,0.024580,0.071699,0.121881

### Create Feature Columns

** Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns. **

In [18]:
data.columns

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [19]:
import tensorflow as tf

In [20]:
age = tf.feature_column.numeric_column('housingMedianAge')
rooms = tf.feature_column.numeric_column('totalRooms')
bedrooms = tf.feature_column.numeric_column('totalBedrooms')
pop = tf.feature_column.numeric_column('population')
households = tf.feature_column.numeric_column('households')
income = tf.feature_column.numeric_column('medianIncome')

In [21]:
features = [age, rooms, bedrooms, pop, households, income]

** Create the input function for the estimator object. (play around with batch_size and num_epochs)**

In [24]:
input_func = tf.estimator.inputs.pandas_input_fn(x = X_train, y = y_train, batch_size=10, num_epochs=500, shuffle=True)

** Create the estimator model. Use a DNNRegressor. Play around with the hidden units! **

In [35]:
model = tf.estimator.DNNRegressor(hidden_units=[10, 20, 10, 30, 10], feature_columns=features)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\1\AppData\Local\Temp\tmptex3y1ua
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\1\\AppData\\Local\\Temp\\tmptex3y1ua', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000003607D1F6D8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

##### ** Train the model for ~1,000 steps. (Later come back to this and train it for more and check for improvement) **

In [36]:
model.train(input_fn=input_func, steps = 1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\1\AppData\Local\Temp\tmptex3y1ua\model.ckpt.
INFO:tensorflow:loss = 658434950000.0, step = 1
INFO:tensorflow:global_step/sec: 345.777
INFO:tensorflow:loss = 125097700000.0, step = 101 (0.297 sec)
INFO:tensorflow:global_step/sec: 598.377
INFO:tensorflow:loss = 60755296000.0, step = 201 (0.162 sec)
INFO:tensorflow:global_step/sec: 577.623
INFO:tensorflow:loss = 133004910000.0, step = 301 (0.177 sec)
INFO:tensorflow:global_step/sec: 574.304
INFO:tensorflow:loss = 224780960000.0, step = 401 (0.170 sec)
INFO:tensorflow:global_step/sec: 574.31
INFO:tensorflow:loss = 180333310000.0, step = 501 (0.174 sec)
INFO:tensorflow:global_step/sec: 531.537
INFO:tensorflow:loss = 64038396000.0, step = 601 (0.188 sec)
INFO:tensorflow:global_step/sec: 546.06
INFO:tensorflow:loss = 55445746000.0, step = 701 (0.183 sec)
INFO:tensorflow:global_step/sec: 543.093
INFO:tensorflow:loss = 84835380000.0, step = 801 (0.189 sec)
INFO:tensorflow:global_step/sec: 489.846
INFO:tensorflow:loss = 98715435000.0, step = 901 (0.200 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\1\AppData\Local\Temp\tmptex3y1ua\model.ckpt.
INFO:tensorflow:Loss for final step: 62577226000.0.

** Create a prediction input function and then use the .predict method off your estimator model to create a list or predictions on your test data. **

In [37]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(x = X_test, batch_size=10, num_epochs=1, shuffle=True)

In [38]:
pred_list = model.predict(pred_input_func)

In [39]:
predictions = list(pred_list)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\1\AppData\Local\Temp\tmptex3y1ua\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Calculate the RMSE. You should be able to get around 100,000 RMSE (remember that this is in the same units as the label.) Do this manually or use [sklearn.metrics](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html) **

In [40]:
finalized = []
for i in predictions:
    finalized.append(i['predictions'])

In [41]:
output = pd.DataFrame({'House Value': finalized, 'House Index_No': X_test.index})

In [42]:
output

       House Value  House Index_No
0       [211896.6]           12445
1      [179958.47]            1691
2      [247099.42]           10648
3      [210389.97]           14440
4      [196594.33]            1838
5      [239205.62]            7468
6      [196441.98]            8114
7      [193574.23]           18948
8       [189891.7]            5450
9      [224617.27]            9546
10     [175065.02]            7355
11     [246840.53]            8865
12      [196052.2]           18908
13      [204889.3]           19108
14     [253884.69]           17501
15     [140485.94]            5759
16     [246285.55]            5280
17     [205096.06]              87
18      [204277.1]            4565
19     [178335.31]            3384
20      [241061.8]              54
21     [191724.44]           14369
22     [255654.47]           17783
23     [174817.48]           16608
24     [189151.67]           13123
25      [180533.9]            4646
26    [103598.375]           19192
27     [200654.47]           11389
28      [270292.2]           11065
29     [188782.84]            6681
...            ...             ...
6162   [261099.84]             388
6163   [162531.94]             549
6164   [164614.42]           17163
6165   [230552.61]           16017
6166   [180714.84]           13563
6167   [224117.67]            4486
6168   [186224.44]           16012
6169    [204010.2]            9160
6170   [268961.84]            6229
6171   [249322.72]           15910
6172   [205240.94]            8156
6173   [176201.75]            5210
6174    [378142.5]            2715
6175   [192981.38]           18810
6176   [247017.78]            2789
6177   [181841.36]           11051
6178   [205619.58]            7479
6179   [188767.38]           19793
6180   [230966.31]            2538
6181   [235412.66]           19882
6182   [176164.31]           10177
6183   [175846.27]           20182
6184    [175211.4]            3653
6185   [214442.17]            6993
6186   [210256.66]            3875
6187   [191350.78]            3654
6188   [163143.31]            4830
6189   [215603.98]           18796
6190   [197400.31]            9295
6191   [180398.28]           20389

[6192 rows x 2 columns]

In [43]:
from sklearn.metrics import mean_squared_error

In [44]:
mean_squared_error(y_test, finalized)**0.5

124408.33515129337

# Great Job!