# Regression Exercise 

California Housing Data

This data set contains information about all the block groups in California from the 1990 Census. In this sample a block group on average includes 1425.5 individuals living in a geographically compact area. 

The task is to aproximate the median house value of each block from the values of the rest of the variables. 

 It has been obtained from the LIACC repository. The original page where the data set can be found is: http://www.liaad.up.pt/~ltorgo/Regression/DataSets.html.

The Features:
 
* housingMedianAge: continuous. 
* totalRooms: continuous. 
* totalBedrooms: continuous. 
* population: continuous. 
* households: continuous. 
* medianIncome: continuous. 
* medianHouseValue: continuous.

## The Data

** Import the cal_housing_clean.csv file with pandas. Separate it into a training (70%) and testing set(30%).**

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('California Housing data.csv')

In [3]:
data.head()

,Unnamed: 0,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude,medianHouseValue
0,0,41.0,6.984127,1.023810,322.0,2.555556,8.3252,37.88,-122.23,4.526
1,1,21.0,6.238137,0.971880,2401.0,2.109842,8.3014,37.86,-122.22,3.585
2,2,52.0,8.288136,1.073446,496.0,2.802260,7.2574,37.85,-122.24,3.521
3,3,52.0,5.817352,1.073059,558.0,2.547945,5.6431,37.85,-122.25,3.413
4,4,52.0,6.281853,1.081081,565.0,2.181467,3.8462,37.85,-122.25,3.422

In [4]:
data.describe()

,Unnamed: 0,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude,medianHouseValue
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,10319.500000,28.639486,5.429000,1.096675,1425.476744,3.070655,3.870671,35.631861,-119.569704,2.068558
std,5958.399114,12.585558,2.474173,0.473911,1132.462122,10.386050,1.899822,2.135952,2.003532,1.153956
min,0.000000,1.000000,0.846154,0.333333,3.000000,0.692308,0.499900,32.540000,-124.350000,0.149990
25%,5159.750000,18.000000,4.440716,1.006079,787.000000,2.429741,2.563400,33.930000,-121.800000,1.196000
50%,10319.500000,29.000000,5.229129,1.048780,1166.000000,2.818116,3.534800,34.260000,-118.490000,1.797000
75%,15479.250000,37.000000,6.052381,1.099526,1725.000000,3.282261,4.743250,37.710000,-118.010000,2.647250
max,20639.000000,52.000000,141.909091,34.066667,35682.000000,1243.333333,15.000100,41.950000,-114.310000,5.000010

In [5]:
data = data.drop('Unnamed: 0', axis=1)

In [6]:
data.head()

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude,medianHouseValue
0,41.0,6.984127,1.023810,322.0,2.555556,8.3252,37.88,-122.23,4.526
1,21.0,6.238137,0.971880,2401.0,2.109842,8.3014,37.86,-122.22,3.585
2,52.0,8.288136,1.073446,496.0,2.802260,7.2574,37.85,-122.24,3.521
3,52.0,5.817352,1.073059,558.0,2.547945,5.6431,37.85,-122.25,3.413
4,52.0,6.281853,1.081081,565.0,2.181467,3.8462,37.85,-122.25,3.422

In [7]:
y = data['medianHouseValue']
x = data.drop('medianHouseValue', axis = 1)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [9]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((14448, 8), (14448,), (6192, 8), (6192,))

In [10]:
X_train.head()

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
5748,15.0,4.285957,1.105532,3164.0,2.692766,2.9148,34.16,-118.27
5592,41.0,4.394737,1.054825,1658.0,3.635965,3.1779,33.80,-118.26
2110,49.0,4.886792,0.964361,1290.0,2.704403,2.5111,36.75,-119.75
13901,15.0,6.444651,1.422326,2568.0,2.388837,2.5405,34.06,-116.56
18425,7.0,5.291789,1.101173,1739.0,2.549853,4.5033,37.26,-121.83

In [11]:
y_train.head()

5748     2.387
5592     1.711
2110     0.554
13901    0.696
18425    2.131
Name: medianHouseValue, dtype: float64

In [12]:
X_test.head()

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
4712,39.0,4.503205,1.073718,1109.0,1.777244,3.2500,34.06,-118.36
2151,37.0,4.988584,1.038813,1143.0,2.609589,1.9784,36.78,-119.78
15927,46.0,4.480296,1.012315,1534.0,3.778325,4.0132,37.73,-122.42
82,52.0,3.908046,1.114943,200.0,2.298851,1.5208,37.81,-122.28
8161,37.0,5.406360,1.024735,711.0,2.512367,5.1795,33.82,-118.13

In [13]:
y_test.head()

4712     3.550
2151     0.707
15927    2.294
82       1.125
8161     2.254
Name: medianHouseValue, dtype: float64

### Scale the Feature Data

** Use sklearn preprocessing to create a MinMaxScaler for the feature data. Fit this scaler only to the training data. Then use it to transform X_test and X_train. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.**

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [15]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [16]:
X_train_scaled  = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [17]:
cols= X_train.columns
cols

Index(['HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'MedInc',
       'Latitude', 'Longitude'],
      dtype='object')

In [18]:
X_train = pd.DataFrame(data=X_train_scaled, columns=X_train.columns, index =X_train.index)
X_train.head()

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
5748,0.274510,0.024385,0.022891,0.088596,0.001563,0.166543,0.172157,0.603604
5592,0.784314,0.025156,0.021388,0.046386,0.002323,0.184687,0.133900,0.604605
2110,0.941176,0.028644,0.018706,0.036072,0.001573,0.138702,0.447396,0.455455
13901,0.274510,0.039688,0.032282,0.071891,0.001319,0.140729,0.161530,0.774775
18425,0.117647,0.031515,0.022762,0.048656,0.001448,0.276093,0.501594,0.247247

In [19]:
X_test = pd.DataFrame(data= X_test_scaled, columns=cols, index=X_test.index)
X_test.head()

,HouseAge,AveRooms,AveBedrms,Population,AveOccup,MedInc,Latitude,Longitude
4712,0.745098,0.025925,0.021948,0.030999,0.000827,0.189659,0.161530,0.594595
2151,0.705882,0.029366,0.020913,0.031952,0.001497,0.101964,0.450584,0.452452
15927,0.882353,0.025763,0.020128,0.042910,0.002437,0.242293,0.551541,0.188188
82,1.000000,0.021706,0.023170,0.005521,0.001246,0.070406,0.560043,0.202202
8161,0.705882,0.032327,0.020496,0.019844,0.001418,0.322727,0.136026,0.617618

### Create Feature Columns

** Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns. **

In [21]:
import tensorflow as tf

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [22]:
features = [tf.feature_column.numeric_column(key=col) for col in X_train.columns]
features

[_NumericColumn(key='HouseAge', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='AveRooms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='AveBedrms', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Population', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='AveOccup', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='MedInc', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Latitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='Longitude', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

** Create the input function for the estimator object. (play around with batch_size and num_epochs)**

In [23]:
#на 1й ошибка меньше
input_func1 = tf.estimator.inputs.pandas_input_fn(x = X_train, y = y_train, batch_size=5, num_epochs=500, shuffle=True) 
input_func2 = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=10,num_epochs=1000,shuffle=True)
input_func3 = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=100,num_epochs=500,shuffle=True)

** Create the estimator model. Use a DNNRegressor. Play around with the hidden units! **

In [24]:
model1 = tf.estimator.DNNRegressor(hidden_units=[10, 20, 10, 30, 10], feature_columns=features)
model2 = tf.estimator.DNNRegressor(hidden_units=[8, 10, 15, 10, 8], feature_columns=features) 
model3 = tf.estimator.DNNRegressor(hidden_units=[6, 8, 10, 8, 6], feature_columns=features)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\ALEKSA~1\AppData\Local\Temp\tmpeeudf31x
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\ALEKSA~1\\AppData\\Local\\Temp\\tmpeeudf31x', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x00000287FE0A9358>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\ALEKSA~1\AppData\Local\Temp\tmpdkfl2pzq
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\ALEKSA~1\\AppData\\Local\\Temp\\tmpdkfl2pzq', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x00000287811D75F8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\ALEKSA~1\AppData\Local\Temp\tmpbkee4_s7
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\ALEKSA~1\\AppData\\Local\\Temp\\tmpbkee4_s7', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x00000287811D7908>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

##### ** Train the model for ~1,000 steps. (Later come back to this and train it for more and check for improvement) **

In [25]:
model1.train(input_fn=input_func3, steps=1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmpeeudf31x\model.ckpt.
INFO:tensorflow:loss = 508.32724, step = 1
INFO:tensorflow:global_step/sec: 49.2592
INFO:tensorflow:loss = 65.39612, step = 101 (2.033 sec)
INFO:tensorflow:global_step/sec: 97.4802
INFO:tensorflow:loss = 63.684517, step = 201 (1.023 sec)
INFO:tensorflow:global_step/sec: 96.6178
INFO:tensorflow:loss = 47.048973, step = 301 (1.039 sec)
INFO:tensorflow:global_step/sec: 93.9295
INFO:tensorflow:loss = 58.837875, step = 401 (1.076 sec)
INFO:tensorflow:global_step/sec: 97.024
INFO:tensorflow:loss = 45.18285, step = 501 (1.023 sec)
INFO:tensorflow:global_step/sec: 88.0187
INFO:tensorflow:loss = 48.63078, step = 601 (1.132 sec)
INFO:tensorflow:global_step/sec: 94.3718
INFO:tensorflow:loss = 40.884995, step = 701 (1.056 sec)
INFO:tensorflow:global_step/sec: 93.9117
INFO:tensorflow:loss = 57.37623, step = 801 (1.065 sec)
INFO:tensorflow:global_step/sec: 101.38
INFO:tensorflow:loss = 65.02914, step = 901 (1.002 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmpeeudf31x\model.ckpt.
INFO:tensorflow:Loss for final step: 42.77321.

In [26]:
model2.train(input_fn=input_func3, steps=1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmpdkfl2pzq\model.ckpt.
INFO:tensorflow:loss = 561.5715, step = 1
INFO:tensorflow:global_step/sec: 53.7343
INFO:tensorflow:loss = 72.141754, step = 101 (1.877 sec)
INFO:tensorflow:global_step/sec: 97.8275
INFO:tensorflow:loss = 74.962265, step = 201 (1.022 sec)
INFO:tensorflow:global_step/sec: 95.6217
INFO:tensorflow:loss = 40.420197, step = 301 (1.046 sec)
INFO:tensorflow:global_step/sec: 95.3319
INFO:tensorflow:loss = 62.478832, step = 401 (1.033 sec)
INFO:tensorflow:global_step/sec: 90.5739
INFO:tensorflow:loss = 53.330948, step = 501 (1.104 sec)
INFO:tensorflow:global_step/sec: 101.857
INFO:tensorflow:loss = 51.744583, step = 601 (0.995 sec)
INFO:tensorflow:global_step/sec: 99.3294
INFO:tensorflow:loss = 58.782814, step = 701 (0.993 sec)
INFO:tensorflow:global_step/sec: 101.522
INFO:tensorflow:loss = 43.58141, step = 801 (1.001 sec)
INFO:tensorflow:global_step/sec: 97.7896
INFO:tensorflow:loss = 55.078026, step = 901 (1.007 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmpdkfl2pzq\model.ckpt.
INFO:tensorflow:Loss for final step: 72.88109.

In [27]:
model3.train(input_fn=input_func3, steps=1000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmpbkee4_s7\model.ckpt.
INFO:tensorflow:loss = 577.3456, step = 1
INFO:tensorflow:global_step/sec: 52.809
INFO:tensorflow:loss = 54.582726, step = 101 (1.909 sec)
INFO:tensorflow:global_step/sec: 101.49
INFO:tensorflow:loss = 74.568, step = 201 (0.970 sec)
INFO:tensorflow:global_step/sec: 100.453
INFO:tensorflow:loss = 54.233475, step = 301 (0.995 sec)
INFO:tensorflow:global_step/sec: 101.167
INFO:tensorflow:loss = 50.986954, step = 401 (0.988 sec)
INFO:tensorflow:global_step/sec: 99.5324
INFO:tensorflow:loss = 49.6856, step = 501 (1.005 sec)
INFO:tensorflow:global_step/sec: 101.232
INFO:tensorflow:loss = 49.902443, step = 601 (0.988 sec)
INFO:tensorflow:global_step/sec: 101.645
INFO:tensorflow:loss = 35.64913, step = 701 (0.984 sec)
INFO:tensorflow:global_step/sec: 99.7116
INFO:tensorflow:loss = 22.388783, step = 801 (1.003 sec)
INFO:tensorflow:global_step/sec: 98.7393
INFO:tensorflow:loss = 43.376724, step = 901 (1.013 sec)
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmpbkee4_s7\model.ckpt.
INFO:tensorflow:Loss for final step: 71.859085.

**с 3 тысячами шагами:**

In [28]:
model1.train(input_fn=input_func3, steps=5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\ALEKSA~1\AppData\Local\Temp\tmpeeudf31x\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1000 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmpeeudf31x\model.ckpt.
INFO:tensorflow:loss = 52.67546, step = 1001
INFO:tensorflow:global_step/sec: 53.2483
INFO:tensorflow:loss = 50.37603, step = 1101 (1.878 sec)
INFO:tensorflow:global_step/sec: 100.497
INFO:tensorflow:loss = 54.383465, step = 1201 (1.011 sec)
INFO:tensorflow:global_step/sec: 100.147
INFO:tensorflow:loss = 35.53106, step = 1301 (0.983 sec)
INFO:tensorflow:global_step/sec: 99.9696
INFO:tensorflow:loss = 46.299854, step = 1401 (1.016 sec)
INFO:tensorflow:global_step/sec: 96.9593
INFO:tensorflow:loss = 54.978725, step = 1501 (1.031 sec)
INFO:tensorflow:global_step/sec: 98.8493
INFO:tensorflow:loss = 49.82315, step = 1601 (0.996 sec)
INFO:tensorflow:global_step/sec: 100.21
INFO:tensorflow:loss = 48.701603, step = 1701 (0.998 sec)
INFO:tensorflow:global_step/sec: 101.481
INFO:tensorflow:loss = 54.211853, step = 1801 (1.001 sec)
INFO:tensorflow:global_step/sec: 98.0122
INFO:tensorflow:loss = 67.99196, step = 1901 (1.005 sec)
INFO:tensorflow:global_step/sec: 99.6068
INFO:tensorflow:loss = 48.88318, step = 2001 (1.004 sec)
INFO:tensorflow:global_step/sec: 101.266
INFO:tensorflow:loss = 59.302353, step = 2101 (1.003 sec)
INFO:tensorflow:global_step/sec: 98.4949
INFO:tensorflow:loss = 48.97122, step = 2201 (1.000 sec)
INFO:tensorflow:global_step/sec: 102.302
INFO:tensorflow:loss = 45.435448, step = 2301 (0.977 sec)
INFO:tensorflow:global_step/sec: 99.5532
INFO:tensorflow:loss = 44.02008, step = 2401 (1.020 sec)
INFO:tensorflow:global_step/sec: 99.0101
INFO:tensorflow:loss = 38.845818, step = 2501 (0.994 sec)
INFO:tensorflow:global_step/sec: 103.376
INFO:tensorflow:loss = 33.410152, step = 2601 (0.983 sec)
INFO:tensorflow:global_step/sec: 99.8401
INFO:tensorflow:loss = 67.30178, step = 2701 (1.002 sec)
INFO:tensorflow:global_step/sec: 99.1872
INFO:tensorflow:loss = 35.71276, step = 2801 (0.993 sec)
INFO:tensorflow:global_step/sec: 100.475
INFO:tensorflow:loss = 44.83497, step = 2901 (0.995 sec)
INFO:tensorflow:global_step/sec: 98.4234
INFO:tensorflow:loss = 40.66523, step = 3001 (1.032 sec)
INFO:tensorflow:global_step/sec: 102.906
INFO:tensorflow:loss = 44.532017, step = 3101 (0.972 sec)
INFO:tensorflow:global_step/sec: 100.027
INFO:tensorflow:loss = 40.950096, step = 3201 (0.984 sec)
INFO:tensorflow:global_step/sec: 100.873
INFO:tensorflow:loss = 42.236153, step = 3301 (0.991 sec)
INFO:tensorflow:global_step/sec: 101.101
INFO:tensorflow:loss = 57.624565, step = 3401 (0.989 sec)
INFO:tensorflow:global_step/sec: 99.5003
INFO:tensorflow:loss = 53.93315, step = 3501 (1.021 sec)
INFO:tensorflow:global_step/sec: 101.714
INFO:tensorflow:loss = 51.78793, step = 3601 (0.983 sec)
INFO:tensorflow:global_step/sec: 101.238
INFO:tensorflow:loss = 36.771545, step = 3701 (0.972 sec)
INFO:tensorflow:global_step/sec: 100.14
INFO:tensorflow:loss = 33.679596, step = 3801 (1.014 sec)
INFO:tensorflow:global_step/sec: 99.1289
INFO:tensorflow:loss = 47.79811, step = 3901 (1.009 sec)
INFO:tensorflow:global_step/sec: 101.352
INFO:tensorflow:loss = 38.207825, step = 4001 (0.987 sec)
INFO:tensorflow:global_step/sec: 98.1056
INFO:tensorflow:loss = 50.109474, step = 4101 (1.019 sec)
INFO:tensorflow:global_step/sec: 99.2762
INFO:tensorflow:loss = 65.84997, step = 4201 (0.992 sec)
INFO:tensorflow:global_step/sec: 103.978
INFO:tensorflow:loss = 28.771107, step = 4301 (0.977 sec)
INFO:tensorflow:global_step/sec: 99.8971
INFO:tensorflow:loss = 68.14691, step = 4401 (0.985 sec)
INFO:tensorflow:global_step/sec: 101.551
INFO:tensorflow:loss = 56.04214, step = 4501 (0.985 sec)
INFO:tensorflow:global_step/sec: 100.128
INFO:tensorflow:loss = 46.530617, step = 4601 (1.014 sec)
INFO:tensorflow:global_step/sec: 99.1278
INFO:tensorflow:loss = 32.796204, step = 4701 (0.993 sec)
INFO:tensorflow:global_step/sec: 99.9913
INFO:tensorflow:loss = 41.87778, step = 4801 (1.000 sec)
INFO:tensorflow:global_step/sec: 106.055
INFO:tensorflow:loss = 48.819393, step = 4901 (0.959 sec)
INFO:tensorflow:global_step/sec: 99.8297
INFO:tensorflow:loss = 47.225452, step = 5001 (0.986 sec)
INFO:tensorflow:global_step/sec: 101.315
INFO:tensorflow:loss = 41.234943, step = 5101 (0.987 sec)
INFO:tensorflow:global_step/sec: 100.817
INFO:tensorflow:loss = 62.242958, step = 5201 (1.008 sec)
INFO:tensorflow:global_step/sec: 99.2082
INFO:tensorflow:loss = 55.75073, step = 5301 (0.992 sec)
INFO:tensorflow:global_step/sec: 101.066
INFO:tensorflow:loss = 38.58183, step = 5401 (1.005 sec)
INFO:tensorflow:global_step/sec: 98.7305
INFO:tensorflow:loss = 59.695732, step = 5501 (0.997 sec)
INFO:tensorflow:global_step/sec: 102.243
INFO:tensorflow:loss = 41.674595, step = 5601 (0.978 sec)
INFO:tensorflow:global_step/sec: 101.844
INFO:tensorflow:loss = 46.18409, step = 5701 (0.982 sec)
INFO:tensorflow:global_step/sec: 98.9279
INFO:tensorflow:loss = 54.611862, step = 5801 (1.011 sec)
INFO:tensorflow:global_step/sec: 97.3753
INFO:tensorflow:loss = 30.441229, step = 5901 (1.027 sec)
INFO:tensorflow:Saving checkpoints for 6000 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmpeeudf31x\model.ckpt.
INFO:tensorflow:Loss for final step: 41.694687.

** Create a prediction input function and then use the .predict method off your estimator model to create a list or predictions on your test data. **

In [29]:
#predict_input_func = tf.estimator.inputs.pandas_input_fn(x = X_test, batch_size=10, num_epochs=1, shuffle=True)
predict_input_func = tf.estimator.inputs.pandas_input_fn(x = X_test, batch_size=20, num_epochs=1, shuffle=False)

In [30]:
prediction1 = list(model1.predict(predict_input_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\ALEKSA~1\AppData\Local\Temp\tmpeeudf31x\model.ckpt-6000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [31]:
prediction2 = list(model2.predict(predict_input_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\ALEKSA~1\AppData\Local\Temp\tmpdkfl2pzq\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [32]:
prediction3 = list(model3.predict(predict_input_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\ALEKSA~1\AppData\Local\Temp\tmpbkee4_s7\model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [33]:
final_prediction1=[prediction1[i]['predictions'] for i in range(len(prediction1))]

In [34]:
final_prediction2=[prediction2[i]['predictions'] for i in range(len(prediction2))]

In [35]:
final_prediction3=[prediction3[i]['predictions'] for i in range(len(prediction3))]

** Calculate the RMSE. You should be able to get around 100,000 RMSE (remember that this is in the same units as the label.) Do this manually or use [sklearn.metrics](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html) **

In [36]:
from sklearn.metrics import mean_squared_error

In [37]:
rmse1 = mean_squared_error(y_test, final_prediction1)**0.5
rmse1

0.6422617954764254

In [38]:
rmse2 = mean_squared_error(y_test, final_prediction2)**0.5
rmse2

0.7206682633069067

In [39]:
rmse3 = mean_squared_error(y_test, final_prediction3)**0.5
rmse3

0.7279061575345299

# Great Job!