# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [17]:
import pandas as pd
import numpy as np

In [46]:
df = pd.read_csv('census_data.csv')

In [47]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [48]:
df['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [49]:
df['income_bracket'] = np.array(df['income_bracket']==' >50K').astype(int)

In [50]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [51]:
df.describe()

,age,education_num,capital_gain,capital_loss,hours_per_week,income_bracket
count,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,10.080679,1077.648844,87.303830,40.437456,0.240810
std,13.640433,2.572720,7385.292085,402.960219,12.347429,0.427581
min,17.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,16.000000,99999.000000,4356.000000,99.000000,1.000000

### Perform a Train Test Split on the Data

In [52]:
from sklearn import model_selection
from sklearn.model_selection import train_test_split

In [53]:
X = df.drop('income_bracket',axis=1)
y = df['income_bracket']

In [54]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=101)

In [55]:
print(X_train.shape)
print(X_test.shape)

(22792, 13)
(9769, 13)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [56]:
df.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [57]:
df.astype('object').describe().transpose()

                count unique                  top   freq
age             32561     73                   36    898
workclass       32561      9              Private  22696
education       32561     16              HS-grad  10501
education_num   32561     16                    9  10501
marital_status  32561      7   Married-civ-spouse  14976
occupation      32561     15       Prof-specialty   4140
relationship    32561      6              Husband  13193
race            32561      5                White  27816
gender          32561      2                 Male  21790
capital_gain    32561    119                    0  29849
capital_loss    32561     92                    0  31042
hours_per_week  32561     94                   40  15217
native_country  32561     42        United-States  29170
income_bracket  32561      2                    0  24720

** Import Tensorflow **

In [58]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [59]:
cat_cols =[]
for col in ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'gender', 'native_country']:
    cat_cols.append(tf.feature_column.categorical_column_with_hash_bucket(col, hash_bucket_size=df[col].unique().size))

In [60]:
cat_cols

[_HashedCategoricalColumn(key='workclass', hash_bucket_size=9, dtype=tf.string),
 _HashedCategoricalColumn(key='education', hash_bucket_size=16, dtype=tf.string),
 _HashedCategoricalColumn(key='marital_status', hash_bucket_size=7, dtype=tf.string),
 _HashedCategoricalColumn(key='occupation', hash_bucket_size=15, dtype=tf.string),
 _HashedCategoricalColumn(key='relationship', hash_bucket_size=6, dtype=tf.string),
 _HashedCategoricalColumn(key='race', hash_bucket_size=5, dtype=tf.string),
 _HashedCategoricalColumn(key='gender', hash_bucket_size=2, dtype=tf.string),
 _HashedCategoricalColumn(key='native_country', hash_bucket_size=42, dtype=tf.string)]

** Create the continuous feature_columns for the continuous values using numeric_column **

In [61]:
num_cols = []
for col in ['age', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']:
    num_cols.append(tf.feature_column.numeric_column(col))

** Put all these variables into a single list with the variable name feat_cols **

In [62]:
feat_cols=cat_cols+num_cols
feat_cols

[_HashedCategoricalColumn(key='workclass', hash_bucket_size=9, dtype=tf.string),
 _HashedCategoricalColumn(key='education', hash_bucket_size=16, dtype=tf.string),
 _HashedCategoricalColumn(key='marital_status', hash_bucket_size=7, dtype=tf.string),
 _HashedCategoricalColumn(key='occupation', hash_bucket_size=15, dtype=tf.string),
 _HashedCategoricalColumn(key='relationship', hash_bucket_size=6, dtype=tf.string),
 _HashedCategoricalColumn(key='race', hash_bucket_size=5, dtype=tf.string),
 _HashedCategoricalColumn(key='gender', hash_bucket_size=2, dtype=tf.string),
 _HashedCategoricalColumn(key='native_country', hash_bucket_size=42, dtype=tf.string),
 _NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='education_num', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_gain', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='capital_loss', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 _NumericColumn(key='hours_per_week', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [97]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=10, num_epochs=1000, shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [98]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols,n_classes=2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\ALEKSA~1\AppData\Local\Temp\tmp1b18pz5j
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\ALEKSA~1\\AppData\\Local\\Temp\\tmp1b18pz5j', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000002AC010C1FD0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [99]:
model.train(input_fn=input_func,steps=10000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmp1b18pz5j\model.ckpt.
INFO:tensorflow:loss = 69.31474, step = 1
INFO:tensorflow:global_step/sec: 19.9103
INFO:tensorflow:loss = 309.55603, step = 101 (5.035 sec)
INFO:tensorflow:global_step/sec: 78.9334
INFO:tensorflow:loss = 404.75266, step = 201 (1.271 sec)
INFO:tensorflow:global_step/sec: 76.2429
INFO:tensorflow:loss = 189.32968, step = 301 (1.300 sec)
INFO:tensorflow:global_step/sec: 74.5692
INFO:tensorflow:loss = 246.84416, step = 401 (1.352 sec)
INFO:tensorflow:global_step/sec: 78.5654
INFO:tensorflow:loss = 83.79556, step = 501 (1.273 sec)
INFO:tensorflow:global_step/sec: 84.3568
INFO:tensorflow:loss = 109.5923, step = 601 (1.185 sec)
INFO:tensorflow:global_step/sec: 75.7879
INFO:tensorflow:loss = 254.61186, step = 701 (1.304 sec)
INFO:tensorflow:global_step/sec: 80.8331
INFO:tensorflow:loss = 144.37521, step = 801 (1.253 sec)
INFO:tensorflow:global_step/sec: 67.1009
INFO:tensorflow:loss = 156.81256, step = 901 (1.491 sec)
INFO:tensorflow:global_step/sec: 81.1791
INFO:tensorflow:loss = 430.19403, step = 1001 (1.233 sec)
INFO:tensorflow:global_step/sec: 84.2493
INFO:tensorflow:loss = 71.19081, step = 1101 (1.182 sec)
INFO:tensorflow:global_step/sec: 81.5792
INFO:tensorflow:loss = 36.266674, step = 1201 (1.214 sec)
INFO:tensorflow:global_step/sec: 81.3362
INFO:tensorflow:loss = 266.75635, step = 1301 (1.245 sec)
INFO:tensorflow:global_step/sec: 81.0147
INFO:tensorflow:loss = 146.41429, step = 1401 (1.231 sec)
INFO:tensorflow:global_step/sec: 83.7424
INFO:tensorflow:loss = 132.62476, step = 1501 (1.194 sec)
INFO:tensorflow:global_step/sec: 84.3581
INFO:tensorflow:loss = 75.60249, step = 1601 (1.173 sec)
INFO:tensorflow:global_step/sec: 84.0164
INFO:tensorflow:loss = 51.648293, step = 1701 (1.190 sec)
INFO:tensorflow:global_step/sec: 80.9995
INFO:tensorflow:loss = 128.45392, step = 1801 (1.235 sec)
INFO:tensorflow:global_step/sec: 83.873
INFO:tensorflow:loss = 41.603096, step = 1901 (1.200 sec)
INFO:tensorflow:global_step/sec: 86.3509
INFO:tensorflow:loss = 208.57956, step = 2001 (1.150 sec)
INFO:tensorflow:global_step/sec: 85.1798
INFO:tensorflow:loss = 82.53531, step = 2101 (1.185 sec)
INFO:tensorflow:global_step/sec: 85.2885
INFO:tensorflow:loss = 50.659866, step = 2201 (1.177 sec)
INFO:tensorflow:global_step/sec: 83.8139
INFO:tensorflow:loss = 39.421608, step = 2301 (1.193 sec)
INFO:tensorflow:global_step/sec: 85.3511
INFO:tensorflow:loss = 41.98546, step = 2401 (1.178 sec)
INFO:tensorflow:global_step/sec: 84.7271
INFO:tensorflow:loss = 59.18377, step = 2501 (1.174 sec)
INFO:tensorflow:global_step/sec: 85.2441
INFO:tensorflow:loss = 41.08426, step = 2601 (1.173 sec)
INFO:tensorflow:global_step/sec: 83.8434
INFO:tensorflow:loss = 67.00731, step = 2701 (1.193 sec)
INFO:tensorflow:global_step/sec: 85.1655
INFO:tensorflow:loss = 49.981956, step = 2801 (1.174 sec)
INFO:tensorflow:global_step/sec: 84.4515
INFO:tensorflow:loss = 281.14706, step = 2901 (1.181 sec)
INFO:tensorflow:global_step/sec: 84.6718
INFO:tensorflow:loss = 87.02666, step = 3001 (1.185 sec)
INFO:tensorflow:global_step/sec: 84.4946
INFO:tensorflow:loss = 75.67049, step = 3101 (1.168 sec)
INFO:tensorflow:global_step/sec: 84.9594
INFO:tensorflow:loss = 108.138245, step = 3201 (1.177 sec)
INFO:tensorflow:global_step/sec: 84.6471
INFO:tensorflow:loss = 71.018616, step = 3301 (1.181 sec)
INFO:tensorflow:global_step/sec: 83.5306
INFO:tensorflow:loss = 82.98517, step = 3401 (1.197 sec)
INFO:tensorflow:global_step/sec: 85.6743
INFO:tensorflow:loss = 45.938904, step = 3501 (1.189 sec)
INFO:tensorflow:global_step/sec: 83.0605
INFO:tensorflow:loss = 46.829346, step = 3601 (1.182 sec)
INFO:tensorflow:global_step/sec: 85.9275
INFO:tensorflow:loss = 252.45897, step = 3701 (1.179 sec)
INFO:tensorflow:global_step/sec: 84.128
INFO:tensorflow:loss = 46.391937, step = 3801 (1.185 sec)
INFO:tensorflow:global_step/sec: 84.3935
INFO:tensorflow:loss = 53.528893, step = 3901 (1.189 sec)
INFO:tensorflow:global_step/sec: 81.993
INFO:tensorflow:loss = 46.797012, step = 4001 (1.204 sec)
INFO:tensorflow:global_step/sec: 82.3589
INFO:tensorflow:loss = 34.337734, step = 4101 (1.222 sec)
INFO:tensorflow:global_step/sec: 83.2652
INFO:tensorflow:loss = 117.66582, step = 4201 (1.193 sec)
INFO:tensorflow:global_step/sec: 86.0686
INFO:tensorflow:loss = 48.0736, step = 4301 (1.162 sec)
INFO:tensorflow:global_step/sec: 84.8941
INFO:tensorflow:loss = 156.98325, step = 4401 (1.194 sec)
INFO:tensorflow:global_step/sec: 83.6162
INFO:tensorflow:loss = 40.83383, step = 4501 (1.193 sec)
INFO:tensorflow:global_step/sec: 76.1002
INFO:tensorflow:loss = 57.68206, step = 4601 (1.306 sec)
INFO:tensorflow:global_step/sec: 68.8822
INFO:tensorflow:loss = 53.42836, step = 4701 (1.460 sec)
INFO:tensorflow:global_step/sec: 70.6479
INFO:tensorflow:loss = 138.03282, step = 4801 (1.407 sec)
INFO:tensorflow:global_step/sec: 80.5029
INFO:tensorflow:loss = 54.66584, step = 4901 (1.250 sec)
INFO:tensorflow:global_step/sec: 75.9877
INFO:tensorflow:loss = 45.43621, step = 5001 (1.320 sec)
INFO:tensorflow:global_step/sec: 73.9512
INFO:tensorflow:loss = 129.59515, step = 5101 (1.350 sec)
INFO:tensorflow:global_step/sec: 67.6875
INFO:tensorflow:loss = 40.73063, step = 5201 (1.476 sec)
INFO:tensorflow:global_step/sec: 75.2626
INFO:tensorflow:loss = 31.86922, step = 5301 (1.341 sec)
INFO:tensorflow:global_step/sec: 84.6309
INFO:tensorflow:loss = 31.29255, step = 5401 (1.178 sec)
INFO:tensorflow:global_step/sec: 84.8714
INFO:tensorflow:loss = 36.397186, step = 5501 (1.159 sec)
INFO:tensorflow:global_step/sec: 87.2013
INFO:tensorflow:loss = 51.451347, step = 5601 (1.161 sec)
INFO:tensorflow:global_step/sec: 86.9864
INFO:tensorflow:loss = 58.054504, step = 5701 (1.150 sec)
INFO:tensorflow:global_step/sec: 85.4472
INFO:tensorflow:loss = 160.9123, step = 5801 (1.170 sec)
INFO:tensorflow:global_step/sec: 86.097
INFO:tensorflow:loss = 30.195747, step = 5901 (1.161 sec)
INFO:tensorflow:global_step/sec: 84.0268
INFO:tensorflow:loss = 68.333694, step = 6001 (1.186 sec)
INFO:tensorflow:global_step/sec: 84.1303
INFO:tensorflow:loss = 75.081154, step = 6101 (1.177 sec)
INFO:tensorflow:global_step/sec: 86.0166
INFO:tensorflow:loss = 40.108086, step = 6201 (1.175 sec)
INFO:tensorflow:global_step/sec: 85.2238
INFO:tensorflow:loss = 37.012085, step = 6301 (1.177 sec)
INFO:tensorflow:global_step/sec: 85.7531
INFO:tensorflow:loss = 57.009567, step = 6401 (1.151 sec)
INFO:tensorflow:global_step/sec: 85.0201
INFO:tensorflow:loss = 37.205997, step = 6501 (1.192 sec)
INFO:tensorflow:global_step/sec: 79.9515
INFO:tensorflow:loss = 42.93683, step = 6601 (1.247 sec)
INFO:tensorflow:global_step/sec: 86.856
INFO:tensorflow:loss = 62.79872, step = 6701 (1.155 sec)
INFO:tensorflow:global_step/sec: 84.7047
INFO:tensorflow:loss = 108.83984, step = 6801 (1.165 sec)
INFO:tensorflow:global_step/sec: 85.6057
INFO:tensorflow:loss = 55.859093, step = 6901 (1.168 sec)
INFO:tensorflow:global_step/sec: 86.6777
INFO:tensorflow:loss = 34.71499, step = 7001 (1.169 sec)
INFO:tensorflow:global_step/sec: 84.4951
INFO:tensorflow:loss = 59.646393, step = 7101 (1.184 sec)
INFO:tensorflow:global_step/sec: 82.3729
INFO:tensorflow:loss = 109.28624, step = 7201 (1.207 sec)
INFO:tensorflow:global_step/sec: 85.6569
INFO:tensorflow:loss = 117.949265, step = 7301 (1.159 sec)
INFO:tensorflow:global_step/sec: 86.6894
INFO:tensorflow:loss = 32.863644, step = 7401 (1.169 sec)
INFO:tensorflow:global_step/sec: 84.4238
INFO:tensorflow:loss = 35.25114, step = 7501 (1.185 sec)
INFO:tensorflow:global_step/sec: 85.3928
INFO:tensorflow:loss = 208.23837, step = 7601 (1.155 sec)
INFO:tensorflow:global_step/sec: 85.9037
INFO:tensorflow:loss = 95.77032, step = 7701 (1.181 sec)
INFO:tensorflow:global_step/sec: 85.3831
INFO:tensorflow:loss = 80.21125, step = 7801 (1.170 sec)
INFO:tensorflow:global_step/sec: 84.1196
INFO:tensorflow:loss = 24.911554, step = 7901 (1.202 sec)
INFO:tensorflow:global_step/sec: 81.9399

INFO:tensorflow:loss = 45.514153, step = 8001 (1.191 sec)
INFO:tensorflow:global_step/sec: 87.8994
INFO:tensorflow:loss = 40.223293, step = 8101 (1.153 sec)
INFO:tensorflow:global_step/sec: 85.7639
INFO:tensorflow:loss = 46.98035, step = 8201 (1.150 sec)
INFO:tensorflow:global_step/sec: 85.0616
INFO:tensorflow:loss = 35.902657, step = 8301 (1.188 sec)
INFO:tensorflow:global_step/sec: 86.634
INFO:tensorflow:loss = 31.94468, step = 8401 (1.158 sec)
INFO:tensorflow:global_step/sec: 85.216
INFO:tensorflow:loss = 46.28562, step = 8501 (1.166 sec)
INFO:tensorflow:global_step/sec: 85.7613
INFO:tensorflow:loss = 37.31654, step = 8601 (1.158 sec)
INFO:tensorflow:global_step/sec: 84.0169
INFO:tensorflow:loss = 33.45915, step = 8701 (1.190 sec)
INFO:tensorflow:global_step/sec: 85.7498
INFO:tensorflow:loss = 55.189056, step = 8801 (1.182 sec)
INFO:tensorflow:global_step/sec: 82.0943
INFO:tensorflow:loss = 32.67404, step = 8901 (1.214 sec)
INFO:tensorflow:global_step/sec: 86.6556
INFO:tensorflow:loss = 30.164492, step = 9001 (1.158 sec)
INFO:tensorflow:global_step/sec: 84.3765
INFO:tensorflow:loss = 36.89067, step = 9101 (1.185 sec)
INFO:tensorflow:global_step/sec: 85.0466
INFO:tensorflow:loss = 69.01964, step = 9201 (1.160 sec)
INFO:tensorflow:global_step/sec: 85.8747
INFO:tensorflow:loss = 100.41496, step = 9301 (1.164 sec)
INFO:tensorflow:global_step/sec: 86.5515
INFO:tensorflow:loss = 33.708473, step = 9401 (1.171 sec)
INFO:tensorflow:global_step/sec: 86.7723
INFO:tensorflow:loss = 43.70665, step = 9501 (1.152 sec)
INFO:tensorflow:global_step/sec: 84.8657
INFO:tensorflow:loss = 45.649914, step = 9601 (1.163 sec)
INFO:tensorflow:global_step/sec: 86.1885
INFO:tensorflow:loss = 59.367485, step = 9701 (1.176 sec)
INFO:tensorflow:global_step/sec: 86.4433
INFO:tensorflow:loss = 47.29969, step = 9801 (1.157 sec)
INFO:tensorflow:global_step/sec: 82.7532
INFO:tensorflow:loss = 33.366943, step = 9901 (1.193 sec)
INFO:tensorflow:Saving checkpoints for 10000 into C:\Users\ALEKSA~1\AppData\Local\Temp\tmp1b18pz5j\model.ckpt.
INFO:tensorflow:Loss for final step: 81.06357.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [100]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(x=X_test, y=y_test, batch_size=10, num_epochs=1,shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [101]:
results = model.predict(eval_input_func)
results = list(results)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\ALEKSA~1\AppData\Local\Temp\tmp1b18pz5j\model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

In [102]:
print(results[0])

{'logits': array([-0.94040906], dtype=float32), 'logistic': array([0.28081772], dtype=float32), 'probabilities': array([0.71918225, 0.2808177 ], dtype=float32), 'class_ids': array([0], dtype=int64), 'classes': array([b'0'], dtype=object)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [103]:
class_ids= [r['class_ids'][0] for r in results]

In [104]:
class_ids[:15]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [105]:
from sklearn import metrics

In [106]:
print(metrics.classification_report(y_test, class_ids))

             precision    recall  f1-score   support

          0       0.85      0.90      0.88      7436
          1       0.62      0.50      0.56      2333

avg / total       0.80      0.81      0.80      9769

# Great Job!