### Шарипова Таня

# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('census_data.csv')

In [3]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data.shape

(32561, 14)

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [5]:
#data.isnull().any()
#data.info()

In [6]:
data['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [7]:
from sklearn import preprocessing
lb =preprocessing.LabelBinarizer()
data['income_bracket'] = lb.fit_transform(data['income_bracket'])

In [8]:
data.dtypes

age                int64
workclass         object
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income_bracket     int64
dtype: object

In [9]:
data[100:110]

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
100,76,Private,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
101,44,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,1
102,47,Self-emp-not-inc,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,0
103,20,Private,Some-college,10,Never-married,Tech-support,Own-child,White,Female,0,0,40,United-States,0
104,29,Private,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,0
105,32,Self-emp-inc,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,United-States,1
106,17,?,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,0
107,30,Private,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,0
108,31,Local-gov,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,0
109,42,Private,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,0

In [10]:
norm_list = ['age', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

In [11]:
data[norm_list] =data[norm_list].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

### Perform a Train Test Split on the Data

In [12]:
target_column = 'income_bracket'

In [13]:
y_data = data[target_column]
print(y_data.shape)
y_data.head()

(32561,)

0    0
1    0
2    0
3    0
4    0
Name: income_bracket, dtype: int64

In [14]:
X_data = data.drop(target_column, axis = 1)
X_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
0,0.301370,State-gov,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.02174,0.0,0.397959,United-States
1,0.452055,Self-emp-not-inc,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.00000,0.0,0.122449,United-States
2,0.287671,Private,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.00000,0.0,0.397959,United-States
3,0.493151,Private,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.00000,0.0,0.397959,United-States
4,0.150685,Private,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.00000,0.0,0.397959,Cuba

In [15]:
from sklearn.model_selection import train_test_split
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.3, random_state=101)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [16]:
X_data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country'],
      dtype='object')

** Import Tensorflow **

In [17]:
import tensorflow as tf

/home/tanya/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [18]:
workclass = tf.feature_column.categorical_column_with_hash_bucket('workclass', hash_bucket_size = data['workclass'].unique().size)
education = tf.feature_column.categorical_column_with_hash_bucket('education', hash_bucket_size = data['education'].unique().size)
marital_status = tf.feature_column.categorical_column_with_hash_bucket('marital_status', hash_bucket_size = data['marital_status'].unique().size)
occupation  = tf.feature_column.categorical_column_with_hash_bucket('occupation', hash_bucket_size = data['occupation'].unique().size)
relationship  = tf.feature_column.categorical_column_with_hash_bucket('relationship', hash_bucket_size = data['relationship'].unique().size)
race  = tf.feature_column.categorical_column_with_hash_bucket('race', hash_bucket_size = data['race'].unique().size)
gender  = tf.feature_column.categorical_column_with_hash_bucket('gender', hash_bucket_size = data['gender'].unique().size)
native_country  = tf.feature_column.categorical_column_with_hash_bucket('native_country', hash_bucket_size = data['native_country'].unique().size)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [19]:
age = tf.feature_column.numeric_column('age')
education_num = tf.feature_column.numeric_column('education_num')
capital_gain = tf.feature_column.numeric_column('capital_gain')
capital_loss = tf.feature_column.numeric_column('capital_loss')
hours_per_week = tf.feature_column.numeric_column('hours_per_week')

** Put all these variables into a single list with the variable name feat_cols **

In [20]:
feat_cols = [age, workclass, education, education_num, marital_status,
             occupation, relationship, race, gender, capital_gain,
             capital_loss, hours_per_week, native_country]
#! порядок колонок

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [21]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train, y=y_train, batch_size=200, num_epochs=25, shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [22]:
model = tf.estimator.LinearClassifier(feature_columns = feat_cols, n_classes = 2)    #n_classes = кол-во классов в классификации

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpn3mpicwt
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpn3mpicwt', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f4398408e10>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

** Train your model on the data, for at least 5000 steps. **

In [23]:
model.train(input_fn = input_func, steps = 5000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpn3mpicwt/model.ckpt.
INFO:tensorflow:loss = 138.62949, step = 1
INFO:tensorflow:global_step/sec: 48.2293
INFO:tensorflow:loss = 89.876465, step = 101 (2.077 sec)
INFO:tensorflow:global_step/sec: 83.7132
INFO:tensorflow:loss = 88.34136, step = 201 (1.193 sec)
INFO:tensorflow:global_step/sec: 82.6989
INFO:tensorflow:loss = 67.190125, step = 301 (1.215 sec)
INFO:tensorflow:global_step/sec: 84.1803
INFO:tensorflow:loss = 73.849594, step = 401 (1.182 sec)
INFO:tensorflow:global_step/sec: 82.7333
INFO:tensorflow:loss = 78.8466, step = 501 (1.210 sec)
INFO:tensorflow:global_step/sec: 74.7205
INFO:tensorflow:loss = 71.67595, step = 601 (1.336 sec)
INFO:tensorflow:global_step/sec: 78.3529
INFO:tensorflow:loss = 71.216736, step = 701 (1.280 sec)
INFO:tensorflow:global_step/sec: 78.1839
INFO:tensorflow:loss = 72.89261, step = 801 (1.275 sec)
INFO:tensorflow:global_step/sec: 69.0494
INFO:tensorflow:loss = 84.10758, step = 901 (1.450 sec)
INFO:tensorflow:global_step/sec: 73.7777
INFO:tensorflow:loss = 69.878746, step = 1001 (1.354 sec)
INFO:tensorflow:global_step/sec: 55.8794
INFO:tensorflow:loss = 85.085526, step = 1101 (1.790 sec)
INFO:tensorflow:global_step/sec: 64.7457
INFO:tensorflow:loss = 74.28988, step = 1201 (1.545 sec)
INFO:tensorflow:global_step/sec: 82.767
INFO:tensorflow:loss = 71.19833, step = 1301 (1.208 sec)
INFO:tensorflow:global_step/sec: 78.0185
INFO:tensorflow:loss = 77.01989, step = 1401 (1.285 sec)
INFO:tensorflow:global_step/sec: 76.1333
INFO:tensorflow:loss = 67.7809, step = 1501 (1.313 sec)
INFO:tensorflow:global_step/sec: 82.7989
INFO:tensorflow:loss = 82.31747, step = 1601 (1.206 sec)
INFO:tensorflow:global_step/sec: 75.4378
INFO:tensorflow:loss = 75.60802, step = 1701 (1.324 sec)
INFO:tensorflow:global_step/sec: 82.9289
INFO:tensorflow:loss = 60.30606, step = 1801 (1.209 sec)
INFO:tensorflow:global_step/sec: 82.8825
INFO:tensorflow:loss = 81.46636, step = 1901 (1.213 sec)
INFO:tensorflow:global_step/sec: 77.512
INFO:tensorflow:loss = 67.876595, step = 2001 (1.280 sec)
INFO:tensorflow:global_step/sec: 78.3876
INFO:tensorflow:loss = 66.06087, step = 2101 (1.275 sec)
INFO:tensorflow:global_step/sec: 78.6281
INFO:tensorflow:loss = 80.81957, step = 2201 (1.272 sec)
INFO:tensorflow:global_step/sec: 78.5864
INFO:tensorflow:loss = 75.50909, step = 2301 (1.278 sec)
INFO:tensorflow:global_step/sec: 83.0484
INFO:tensorflow:loss = 73.45153, step = 2401 (1.199 sec)
INFO:tensorflow:global_step/sec: 85.883
INFO:tensorflow:loss = 87.98091, step = 2501 (1.166 sec)
INFO:tensorflow:global_step/sec: 81.2131
INFO:tensorflow:loss = 75.44307, step = 2601 (1.235 sec)
INFO:tensorflow:global_step/sec: 82.0976
INFO:tensorflow:loss = 81.49765, step = 2701 (1.221 sec)
INFO:tensorflow:global_step/sec: 83.522
INFO:tensorflow:loss = 72.03175, step = 2801 (1.190 sec)
INFO:tensorflow:Saving checkpoints for 2849 into /tmp/tmpn3mpicwt/model.ckpt.
INFO:tensorflow:Loss for final step: 70.23488.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [24]:
pred_input_func = tf.estimator.inputs.pandas_input_fn(x = X_test, batch_size = 200, num_epochs = 1, shuffle = False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [25]:
predictions = model.predict(pred_input_func)

In [26]:
predictions = list(predictions)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpn3mpicwt/model.ckpt-2849
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

** Each item in your list will look like this: **

In [27]:
predictions[0]

{'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.27762738], dtype=float32),
 'logits': array([-0.9562613], dtype=float32),
 'probabilities': array([0.7223726 , 0.27762738], dtype=float32)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [28]:
y_predict = [i['class_ids'][0] for i in predictions]
print(y_predict[30:40])

[0, 0, 0, 0, 0, 1, 0, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [29]:
from sklearn.metrics import classification_report

In [30]:
print(classification_report(y_test, y_predict))

             precision    recall  f1-score   support

          0       0.85      0.94      0.90      7436
          1       0.73      0.48      0.58      2333

avg / total       0.82      0.83      0.82      9769

# Great Job!